.tagalizer {
    border: 1px solid #3c3c3c;
    border-radius: 3px;
    padding: 3px;
    width: 400px;
}
.tagalizer .tagalizer-placeholder {
    border: none !important;
}
.tagalizer .tagalizer-item-list {
    display: inline-block;
}
.tagalizer .tagalizer-item-list .tagalizer-item {
    border-radius: 3px;
    border: 1px solid #3c3c3c;
    padding: 3px;
    color: #3c3c3c;
    background: #f4f4f4;
    display: inline-block;
    margin-right: 5px;
}
.tagalizer .tagalizer-item-list .tagalizer-item .fa {
    margin-left: 5px;
}
